* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    /* background: linear-gradient(to right, #931da8, #04579b), url(./Images/usa\ flag.jpg); */
    background: url(./Images/usa\ flag.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.main {
    width: 85%;
    height: 90vh;
    background: rgba(235, 214, 214, 0.753);
    border-radius: 15px;
    position: absolute;
    top: 5%;
    left: 7%;
}

.gavel {
    width: 100%;
    height: 20vh;
    background: url(./Images/gavel.jpg);
    background-size: cover;
    /* background-attachment: fixed; */
    background-color: black;
    border-radius: 15px 15px 0px 0px;
}

.gavel img{
    float: left;
    width: 100px;
    padding: 10px 20px;
    z-index: 8;
    display: block;
}

.gavel h1 {
    color: rgb(231, 208, 208);
    justify-content: center;
    text-align: center;
    /* position: relative; */
    padding-top: 2%;
    font-family: Times New Roman;
    font-size: 4em;
}

.section {
    /* background-color: black; */
    position: relative;
    width: 100%;
    height: 100vh;
    border-radius: 0px 0px 15px 15px;
}

.section .nav {
    float: left;
    /* background-color: blue; */
    width: 30%;
    height: 70vh;
    border-radius: 0px 0px 0px 15px;
    /* position: relative; */
    /* border: 1px solid black; */
    border-right: 10px solid rgba(73, 63, 63, 0.479);
}

.section .content {
    /* float: right; */
    /* background-color: black; */
    width: 100%;
    height: 70vh;
    border-radius: 0px 0px 15px 0px;
    /* position: relative; */
    justify-content: center;
    justify-items: center;
}


.section .nav h1 {
    padding: 10%;
    background-color: rgba(73, 63, 63, 0.479);
}

.section .nav ul li{
    list-style: none;
    margin-left: 0px;
    padding: 15px 0px 16px 65px;
    /* position: absolute; */
    font-size: 20px;
    font-weight: 549;
}

/* .section .nav ul li:hover {
    background-color: rgba(73, 63, 63, 0.479);
} */

.section .nav ul li a {
    text-decoration: none;
    color: black;
}

 li:hover {
    display: block;
    background-color: rgba(73, 63, 63, 0.479);
    cursor: pointer;
    border-radius: 15px;
    border: none;
 }


 iframe {
    height: 500px;
    width: 69%;
    
 }

 .avatar {
    width: 60px;
    height: 60px;
    background-color: black;
 }

 .active{
    background-color: #04AA6D;
    color: whitesmoke;
    border-radius: 20px;
    border: none;
    font-weight: bolder;
 }
 